<%- include('./partials/authorinfo.ejs')%>

<%- include('./partials/header.ejs')%>

<body>
  <% if (!isAuthenticated) { %>
  <section class="welcome">
    <h1>You are not authorized to view this page. Please login with UserType Driver to view the G2_TEST of DriveTest !! Thanks</h1>
  </section>
  <% } else { %>
  <section class="welcome">
    <h1>Welcome to the G2_TEST of DriveTest !!</h1>
  </section>
  <!-- Add the toast container -->
  <div id="toast-container"></div>
  <section class="center">
    <form action="/updateUserInfo" method="post" enctype="application/x-www-form-urlencoded" name="reservation_form" id="reservation_form">
      <fieldset class="mt-3">
        <legend>Personal Information</legend>
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <% if (userData.firstName!="default") { %>
          <input type="text" class="form-control" id="first_name" name="first_name" value="<%= userData.firstName %>" required disabled>
          <% } else { %>
          <input type="text" class="form-control" id="first_name" name="first_name" required>
          <% } %>
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <% if (userData.lastName!="default") { %>
          <input type="text" class="form-control" id="last_name" name="last_name" value="<%= userData.lastName %>" required disabled>
          <% } else { %>
          <input type="text" class="form-control" id="last_name" name="last_name" required>
          <% } %>
        </div>
        <div class="mb-3">
          <label for="license_number" class="form-label">License Number</label>
          <% if (userData.licenseNo!="default") { %>
          <input type="text" class="form-control" id="license_number" name="license_number" value="<%= userData.licenseNo %>" required disabled>
          <% } else { %>
          <input type="text" class="form-control" id="license_number" name="license_number" pattern="^[A-Za-z]\d{4}-\d{5}-\d{5}$" placeholder="A1008-65709-51116" required>
          <% } %>
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <% if (userData.age!="default" && userData.age!=0) { %>
          <input type="number" class="form-control" id="age" name="age" value="<%= userData.age %>" required disabled>
          <% } else { %>
          <input type="number" class="form-control" id="age" name="age" required min="16" max="99" required>
          <% } %>
        </div>
      </fieldset>
      <fieldset class="mb-3">
        <legend>Car Information</legend>
        <div class="mb-3">
          <label for="make" class="form-label">Make</label>
          <% if (userData.carDetails.make!="default") { %>
          <input type="text" class="form-control" id="make" name="make" value="<%= userData.carDetails.make %>" required disabled>
          <% } else { %>
          <input type="text" class="form-control" id="make" name="make" required>
          <% } %>
        </div>
        <div class="mb-3">
          <label for="model" class="form-label">Model</label>
          <% if (userData.carDetails.model!="default") { %>
          <input type="text" class="form-control" id="model" name="model" value="<%= userData.carDetails.model %>" required disabled>
          <% } else { %>
          <input type="text" class="form-control" id="model" name="model" required>
          <% } %>
        </div>

        <div class="mb-3">
          <label for="year" class="form-label">Year</label>
          <% if (userData.carDetails.year!="default" && userData.carDetails.year!=0) { %>
          <input type="text" class="form-control" id="year" name="year" value="<%= userData.carDetails.year %>" required disabled>
          <% } else { %>
          <input type="text" class="form-control" id="year" name="year" min="1900" max="<%= new Date().getFullYear() %>" placeholder="YYYY" required>
          <% } %>
        </div>
        <div class="mb-3">
          <label for="plat_no" class="form-label">Plat Number</label>
          <% if (userData.carDetails.platNo!="default") { %>
          <input type="text" class="form-control" id="plat_no" name="plat_no" value="<%= userData.carDetails.platNo %>" required disabled>
          <% } else { %>
          <input type="text" class="form-control" id="plat_no" name="plat_no" required>
          <% } %>
        </div>

      </fieldset>

      <% if (userData.firstName=="default") { %>
      <button type="submit" id="submit" class="btn btn-primary w-25">Submit</button>
      <% } %>
    </form>
  </section>
  <section class="center">


    <% if (appointmentInfo && appointmentInfo._id) { %>
    <div>
      <h1 class="information mb-5">Appointment Details:-</h1>
      <div class="mb-3 col-sm-7 form-item">
        <label for="date" class="form-label">Appointment Date </label>
        <input type="text" class="form-control" id="date" name="date" value="<%= appointmentInfo.date %>" required disabled>
      </div>

      <div class="mb-3 col-sm-7 form-item">
        <label for="time" class="form-label">Time </label>
        <input type="text" class="form-control" id="time" name="time" value="<%= appointmentInfo.time %>" required disabled>
      </div>
    </div>

    <% } else { %>
    <div>
      <form action="/bookAppointmentForG2" method="post" enctype="application/x-www-form-urlencoded" name="book_appointment_form" id="book_appointment_form">
        <fieldset>
          <legend>Book Appointment</legend>
          <div class="mb-5">
            <label for="date" class="form-label">Appointment Date:</label>
            <input type="text" class="form-control" id="date" name="date" required readonly>
          </div>
          <div class="mb-5">
            <div id="time-slots" class="time-grid">
              <!-- Time slots will be dynamically generated here -->
            </div>

          </div>
          <div style="background-color:none; color:#ccd0d2; opacity: 0;" id="time" class="mb-3 hidden">
            <label style="background-color:none; color:#ccd0d2 ;border:0px" for="appointmenttime">Appointment Time:</label>
            <input style="background-color:none; color:#ccd0d2;border:0px" type="text" id="appointmenttime" name="appointmenttime">
            <input style="background-color:none; color:#ccd0d2;border:0px" type="text" id="appointmentId" name="appointmentId">
          </div>
          <button type="submit" id="submitbtn" class="btn btn-primary w-25">Book Appointment</button>

        </fieldset>

      </form>

    </div>
    <% } %>
  </section>
  <% } %>
  <% if (isAuthenticated) { %>
  <%- include('./partials/authnavbar.ejs') %>
  <% } else if(isAdmin) { %>
  <%- include('./partials/adminnavbar.ejs') %>
  <% } else { %>
  <%- include('./partials/navbar.ejs') %>
  <% } %>
  <%- include('./partials/footer.ejs')%>
</body>
<script>
  // Function to show the toast message
  function showToast(message, color, top) {
    const toastContainer = document.getElementById('toast-container');
    toastContainer.innerText = message;
    toastContainer.style.display = 'block';
    toastContainer.style.color = color;
    toastContainer.style.marginTop = top;
    setTimeout(() => {
      toastContainer.style.display = 'none';
    }, 5000); // Hide the toast after 3 seconds (adjust as needed)
  }
</script>
<% if (appointmentBookingSuccess) { %>
<script>
  // Show the toast if User Info was successfully updated
  showToast('Appointment is Booked Successfully.', "green", "-150px");
</script>
<% } %>
<script src="/node_modules/flatpickr/dist/flatpickr.js"></script>
<script type="module" src="scripts/availabletimeslot.js"></script>

</html>